html, body, #page
{
    height: 100vh;
}

#header, #footer, #content, body
{
    padding: 0;
    margin: 0;
}


#header
{
    height: 15vh;
    background-color: #271549;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#imgHeader
{
    height: 80%;
}

#imgCorner, #imgCorner2
{
    height: 100%;
}

#content
{
    height: 80vh;
}

#answerChart
{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}


#mainSurvey
{
    height: 100%;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#form
{
    display: flex;
    justify-content: center;
}

#actualForm
{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#titleSurvey
{
    margin: 2vh 2vh 5vh 2vh;
    font-family: 'Roboto', sans-serif;
}

#questionSurvey
{
    margin-bottom: 3vh;
    font-family: 'Roboto', sans-serif;
}

#questionSurvey label
{
    margin-right: 1vw;
}

#answerSurvey label
{
    margin-right: 1vw;
    font-family: 'Roboto', sans-serif;
}

.answer
{
    margin-bottom: 1vh;
    margin-right: 1vw;
}


#validateSurvey
{
    display: flex;
    flex-flow: column;
    margin-top: 7vh;
}


#grid
{
    background-color: red;
    display: flex;
    justify-content: center;
}

#footer
{
    height: 5vh;
    background-color: #271549;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFEEF3;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #EFEEF3;
}


#votePage
{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

#votePage h1
{
    font-family: 'Roboto', sans-serif;
}

#voteChoices span
{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-left: 0;
}

.voteSingle
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px 4px 4px 4px;
    border: 1px dotted #B0B0B0;
    margin: 1em 1em 1em 1em;
    padding: 0.5em 0.5em 0.5em 0.5em;

}